<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.UmkmTahuBerkahXml">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.penjualan.AktivitasRiwayatPenjualan" />
        <activity android:name=".ui.penjualan.AktivitasRekapPasar" />
        <activity android:name=".ui.penjualan.AktivitasPenjualanRumahan" />
        <activity android:name=".ui.stok.AktivitasStockAdjustment" />
        <activity android:name=".ui.stok.AktivitasDetailStok" />
        <activity android:name=".ui.stok.AktivitasMonitoringStok" />
        <activity android:name=".ui.produksi.AktivitasRiwayatProduksi" />
        <activity android:name=".ui.pengguna.AktivitasFormPengguna" />
        <activity android:name=".ui.pengguna.AktivitasDaftarPengguna" />
        <activity android:name=".ui.pengaturan.AktivitasPengaturanUsaha" />
        <activity android:name=".ui.parameter.AktivitasFormParameter" />
        <activity android:name=".ui.parameter.AktivitasDaftarParameter" />
        <activity android:name=".ui.harga.AktivitasFormHarga" />
        <activity android:name=".ui.harga.AktivitasDaftarHarga" />
        <activity android:name=".ui.produk.AktivitasFormProduk" />
        <activity android:name=".ui.produk.AktivitasDaftarProduk" />
        <activity android:name=".ui.utama.AktivitasUtamaKasir" />
        <activity android:name=".ui.utama.AktivitasUtamaAdmin" />
        <activity android:name=".ui.produksi.AktivitasProduksiTahuDasar" />
        <activity android:name=".ui.produksi.AktivitasKonversiProduk" />
        <activity android:name=".ui.penjualan.AktivitasCheckoutRumahan" />

        <activity
            android:name=".ui.masuk.AktivitasMasuk"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>